.section {
  font-family: 'Guggenheim', 'Helvetica Neue', sans-serif;
  padding: 4rem 0rem;
  color: var(black);

}

section.last {
  margin-bottom: 0;
}

.section.emphated h2 {
  font-size: clamp(2.2rem, 4.5vw, 5.6rem);
  margin-top: 0;
}

.section.emphated .section-subtitle {
  font-size: clamp(1.2rem, 3.5vw, 2.4rem);
  color: var(--muted);
}

.section p {
  font-size: clamp(1.2rem, 2.4vw, 1.2rem);
  color: black;
  line-height: 1.6;
}

.section.lato-light p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

section.brand-white-bg {
  background-color: var(--brand-white);
  /* color: var(--brand-primary); */
}

.section.tight {
  padding: 0 4rem;
}

.section.stats {
  padding: 1rem 0;
}

.section.large .section-subtitle {
  font-size: clamp(1.2rem, 2.5vw, 3rem);
}

.section.popup-overlay {
  padding: 2rem;
}

section.padded {
  padding:1rem 16px 3rem 16px;
}

section.inverted-primary {
  background-color: var(--brand-primary);
}

section.inverted-secondary {
  /* background-color: var(--brand-secondary); */
  background-color: var(--brand-secondary-bg-alpha);
  /* background-color: var(--brand-primary-bg-alpha); */
}

section.rounded {
  border-radius: 10px;
}

section.airy {
  margin: clamp(2rem, 15vw, 10rem) auto;
}

section.left-align > * {
  text-align: left;
}

section .section-subtitle {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.section-body.h3grid, 
section.h3grid .section-body{
  /* border-top: 2px solid #111; */
  /* padding-top: 15px; */
  min-height: 27.5rem;
}

section header.section-head {
      /* text-align: center; */
      /* max-width: 800px; */
      padding-right: clamp(2rem, 33vw, 500px);
      margin: 0 auto;
    }

section .eyebrow {
      text-transform: uppercase;
      letter-spacing: .14em;
      font-size: .85rem;
      color: var(--muted);
      font-weight: 300;
    }

section h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 600;
  margin: .5rem 0 1rem;
  letter-spacing: -0.01em;
  line-height: 1.1;
  text-transform: lowercase;
}

section .lede {
  color: var(--muted);
  font-size: clamp(1.2rem, 1.75vw, 1.75rem);
  line-height: 1.6;
  font-weight: 300;
  width: unset;
  margin-top: unset;
  /* text-transform: lowercase; */
}

.inverted-primary h2,
.inverted-primary .card.tiny h3,
.inverted-primary p,
section.inverted-primary > * {
  color: var(--brand-white);
}

section.left-align > * {
  text-align: left;
}

@media (max-width: 768px) {

  section header.section-head {
    padding: 0;
  }

  section.padded {
    padding: 0 0 3rem 0;
    margin: 3rem 0 0 0;
  }
  section.airy {
    margin: 3rem 0 2rem 0;
  }

  .section {
    padding: 1rem 0.5rem;
  }

  .section.tight {
    padding: 0 0.5rem;
  }

  .section.stats {
    padding: 0;
  }

  .section.large .section-subtitle {
    font-size: clamp(1.2rem, 6vw, 1.75rem);
  }

  section .eyebrow {
    font-size: 0.75rem;
  }
}
